*{
    margin:0;
    padding:0;
}
.section-one{
    background-color: #1F2937;
    
    
}
#pic{
    
    width: 200px;
    height: auto;
}
   
.navbar{
    display: flex;
    flex-direction: row;
}
.li1{
    
    font-size: 18px;
    color: white;
    margin:10px

}
ul{
    display: flex;
    flex-direction: row;
}
.left-part,.right-part{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}
.content{
    display: flex;
    
    flex-direction: row;
}
.content-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-left{
    display: flex;
    width: 50%;
    justify-content: center;
    
    flex-direction: column;
    margin-left:330px;

}
.pk2{
    width: 500px;
    height: auto;
    margin-bottom: 50px;
    margin-right: 300px;
    margin-top: 100px
}
.name{
    color: white;
    margin-bottom: 10px;
}
p{
    color: white;
    /* margin-left: -68px; */
    margin-bottom: 10px;
}
.Sign-up{
    background-color: skyblue;
    width: 100px;
    height: 50px;
    border: solid 1px skyblue;
    border-radius: 10px;
    /* margin-left: -103px; */
}
.Sign-up:hover{
    color: blue;
}
h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 50px 300px;
}
.boxblue{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}
.box {
  width: 150px;
  height: 200px;
  border: 3px solid skyblue;
  border-radius: 25px;
   /* смени със своя път */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}   
.box1{
    background-image: url('img/ts1.jpg');
}
.box2{
    background-image: url('img/ts2.webp');
}
.box3{
    background-image: url('img/ts3.jpg');
}
.box4{
    background-image: url('img/ts4.jpg');
}
.section-three{

    height: 300px;
    background-color: rgb(147, 147, 147);
    /* display: flex;
    align-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.top-part{
    /* text-align: center; */
    font-size: 36px;
}
.fp{
    font-size: 22px;
    color: #1F2937;
    margin-left: 350px;
}
.lastdiv{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bluebox{
    background-color: blue;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 50%;
    align-items: center;
    

}
.left{
    margin-left: 50px;
    margin-right: 50px;
}
.right{
    margin-left: 150px;
}
h4{
    font-size: 28px;
    color: white;
    
}
.last{
    color: white;
}
.su{
    border: 2px solid white;
    background: none;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    color: white;
    font-style: bolder;
    font-size: 14px;
}
.footer{
    height: 80px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

